
/*/
*.pdf

!/src/
!/src_gui/
!/js/

# gui resources
*.res
*.resx
*.resources

*.png

*~
*.log
*.bak
*-.*

*.lnk
*.ini

*.db
*.sqlite3

*.exe
*.dll
*.zip
*.7z

magic.xml
chromedriver*

